/**
 *                      _       
 *      _ __ ___   __ _(_)_ __  
 *     | '_ ` _ \ / _` | | '_ \ 
 *     | | | | | | (_| | | | | |
 *     |_| |_| |_|\__,_|_|_| |_|
 *                              
 */

.main-content {
  align-items: center;
}

.home-slogan {
  width: 100%;
  padding: 0 5%;
  margin-top: 0.8rem;
}

.home-slogan img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
}

.start-button-container {
    text-align: center;
    padding-bottom: 1.8rem;
}

.start-button {
    background-color: #D62828;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 40px;
    border: 3px solid #FCBF49;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.start-button:hover {
    background-color: #b82323;
    transform: translateY(-2px);
}


/**
 *                        _     
 *       ___ __ _ _ __ __| |___ 
 *      / __/ _` | '__/ _` / __|
 *     | (_| (_| | | | (_| \__ \
 *      \___\__,_|_|  \__,_|___/
 *                              
 */


.features-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  padding: 0 40px;
  max-width: 540px;
  position: relative; 
  z-index: 2;
  margin: 0 auto;
}

.feature-card {
  background-color: #003049;
  color: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: black solid 1px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}


.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.feature-icon {
  width: 68px;
  height: auto;
}

.monuments-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.monuments-banner img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; 
  max-height: 250px;
  vertical-align: bottom; 
}


@media (min-width: 680px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
  }
}
