* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #003366;
  padding-bottom: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header-main {
  background-color: #003049;
  color: white;
  width: 100%;
  min-height: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 70px;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-links li {
  padding: 0;
  width: auto;
  margin: 0 1rem;
}

.nav-links a {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 10px;
  position: relative;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FCBF49;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #FCBF49;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: #FCBF49;
}

.nav-links a.active::after {
  width: 100%;
}

.nav-ia {
  font-weight: bold;
}